html{
	background-color:rgb(224, 185, 129);
	color:yellow;
}

body {
	font-family:Georgia, 'Times New Roman', Times, serif;
}

h1 {
	/* background-color: #aaaaaa; */
	text-align: center;
	font-size: clamp (2em,2em);
}

#left-container {
	left: 0px;
}

#right-container {
	right: 0px
}

.container {
	/* background-color: #aaaaaa; */
	height: 100%;
	padding: 20px;
	position: absolute;
	top: 120px;
	width: 15%;
}

.window {
	height: 13%;
	left: -10px;
	position: relative;
}

.star {
	max-width: 50%;
	max-height: 350%;
	position: absolute;
	z-index: 6;
	&:hover {
		cursor: grab;
	}
}

#star1 {
	width: 100px;
}

#star8 {
	width: 50px;
}

#star5{
	width: 50px;
}

#star7{
	max-width: 150%;
	max-height: 350%;
}

/* #star14{
	max-width: 150%;
	max-height: 350%;
	opacity: 30%;
	;
} */
/* .Window-pane {
	background: #000000;
	border-radius: 0 0 1rem 1rem;
	bottom: 1%;
	height: 10%;
	left: 20%;
	position: absolute;
	width: 60%;
	z-index: -1;
} */

.window-glass {
	background: #201d3b;
	border-radius: 1rem;
	bottom: 0.1%;
	height: 80%;
	left: 20%;
	/* opacity: 100%; */
	position: absolute;
	width: 60%;
	z-index: 1;
}


















/* .jar-top {
	background: #d1e1df;
	bottom: 80.5%;
	height: 5%;
	left: 25%;
	opacity: 0.7;
	position: absolute;
	width: 50%;
	z-index: 1;
}

.jar-bottom {
	background: #d1e1df;
	bottom: 0%;
	height: 1%;
	left: 25%;
	opacity: 0.7;
	position: absolute;
	width: 50%;
} */


/* .jar-glossy-long {
	background: #ddfbff;
	border-radius: 2rem;
	bottom: 20%;
	height: 20%;
	left: 5%;
	position: absolute;
	width: 3%;
}

.jar-glossy-short {
	background: #ddfbff;
	border-radius: 2rem;
	bottom: 45%;
	height: 5%;
	left: 5%;
	position: absolute;
	width: 3%;
} */
